.eccirian-lock-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--background-primary);
    z-index: 1000;
    pointer-events: auto;
  }
  
  .eccirian-lock-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .eccirian-unlock-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .peccirian-lock-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--background-primary);
    z-index: 1000;
    pointer-events: auto;
  }
  
  .peccirian-lock-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .peccirian-unlock-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  